body{
    background-color: #FFEDE5;
    font-family: "Poppins", sans-serif;
}
header h1 span{
    font-size: 2.1rem;
    display: flexbox;
   
}
header{
    padding: 32px 0;
    text-align: center;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  .card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
    background-color: burlywood;
  }
  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
 .btn{
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
    background-color: burlywood;
 }
 .btn:hover{
    transform: translateY(-5px);
    cursor: pointer;
 }
 